body {
    font-family: 'Georgia';
}

.first-block {
    background-color: #1F2937;
    color: white;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header-text {
    padding-left: 200px;
    font-size: 24px;
    color: #F9F1F8;
}

ul {
    display: flex;
    font-size: 18px;
    padding-right: 200px;
}

li {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

.header-2 {
    display: flex;
}

.header-2-text-big {
    font-size: 48px;
    font-weight: extra-bold;
    padding-left: 200px;
    color: #F9FAF8;
}

.header-2-text-small {
    padding-left: 200px;
    font-size: 18px;
    color: #E5E7EB;
}

.header-button {
    margin-left: 200px;
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
}

.eva-image {
    padding-right: 200px;
}