body {
    font-family: 'Georgia';
}

.first-block {
    background-color: #1F2937;
    color: white;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header-text {
    padding-left: 200px;
    font-size: 24px;
    color: #F9F1F8;
}

ul {
    display: flex;
    font-size: 18px;
    padding-right: 200px;
}

li {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

.header-2 {
    display: flex;
    padding-top: 100px;
}

.header-2-text-big {
    font-size: 48px;
    font-weight: extra-bold;
    padding-left: 200px;
    color: #F9FAF8;
}

.header-2-text-small {
    padding-left: 200px;
    font-size: 18px;
    color: #E5E7EB;
}

.header-button {
    margin-left: 200px;
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
}

.eva-image {
    padding-right: 200px;
}

.second-block {
    display: flex;
    flex-direction: column;
}

.second-block-text {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
    display: flex;
    justify-content: center;
}

.eva-pilots {
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 200px;
}

.shinji {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.shinji-image {
    border-radius: 15px;
    border: 4px solid #3882F6;  
    object-fit: cover;
    width: 230px;
    height: 230px;
}

.asuka {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.asuka-image {
    border-radius: 15px;
    border: 4px solid #3882F6;  
    object-fit: cover;
    width: 230px;
    height: 230px;
}

.rei {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-bottom: 5px;
}

.rei-image {
    border-radius: 15px;
    border: 4px solid #3882F6;  
    object-fit: cover;
    width: 230px;
    height: 230px;
}

.toji {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.toji-image {
    border-radius: 15px;
    border: 4px solid #3882F6;  
    object-fit: cover;
    width: 230px;
    height: 230px;
}

.third-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding-top: 100px;
    padding-bottom: 100px;
}

.yui-quote {
    font-weight: lighter;
}

.yui {
    align-self: flex-end;
    padding-right: 200px;
}